body{
  background-color: white;
  width: 960px;
  height: 1500px;
  margin: 0 auto;
}

#logo img{
  float: left;

}

#social img{
   
}

#social{
  max-width: 280px;
  margin-left: 671px;
  margin-bottom: 30px;
  margin-top: -20px;
}

#pint{
  margin-right: 5px;
}

#logo h5{
  font-size: 11px;
  color: rgba(128, 128, 128, 0.808);
  margin-left: 50px;
  width: 400px;
}

header{

   

}

main section h2{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px;
  margin-top: 40px;
}

#chocolatetitle{
  max-width: 400px;
}

main section h5{
  font-size: 10px;
}

#print img{
  float: left;
}

#print p{
  font-size: 10px;
  
}

#print{
  margin-left: 860px;
  
}

#chocolatetitle h5{
  float: left;
  color: rgba(128, 128, 128, 0.808);
}

#chocopizza{
  margin-top: 25px;
}

main section p:not(#printp){
  text-align: left;
  font-size: 20px;
  width: 905px;
  text-indent: 25px;
  margin: 15px 0px;
  color: gray;
  font-weight: lighter;
}

#list{
  background-image: url("../img/list-bg.png");
  width: 902px;
  height: 305px;
  font-size: 25px;
}

#listone{
  float:left;
  margin-right: 90px;
  margin-top: 40px;
  margin-left: 70px;
  
}

#listtwo{
  padding-top: 40px;
}

.stretch{
  background-image: url(../img/hr-img.png);
  border-right-width: 0px;
  border-right-style: solid;
  max-width: 903px;

}

#printp{
  font-size: 10px;
  color: rgba(128, 128, 128, 0.808);
}
#logo{
  margin-top: 40px;
  font-size: 40px;
}

header section h3 {
  margin-left: 49px;
  width: 400px;
}

#footstretch{
  margin-top: 30px;
  margin-bottom: 21px;
}

#vanessa img{
  float: left;
}

footer section button{
  float: right;
}